doctype html 
html(lang="en-US")
head 
  include partials/_head.pug
body 
    //- kalo mau nambah id atau value dkk, tinggal
    //- nambah (id="wrapper")
    .page-wrapper
        header.masthead 
            .container 
                .masthead__row
                    .masthead__left
                        a.logo(href="https://balabanov.co/")
                            img(src="https://balabanov.co/wp-content/uploads/2019/04/logo.svg" alt="logo" width="275")
                    .masthead__center 
                        .primary-menu
                            ul#menu-primary-menu 
                                li
                                    a(href="https://balabanov.co/solutions/") Solutions
                                li
                                    a(href="https://balabanov.co/resources/") Resources
                                li
                                    a(href="https://balabanov.co/blog/") Blog
                    .masthead__right
                        a.btn.btn--transparent.letschat(href="#") Let's Chat               

